@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /** Color */
  --color-background: oklch(99.5% 0.005 285);
  --color-foreground: oklch(30% 0.002 285);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(10% 0.002 285);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(10% 0.002 285);
  --color-primary: oklch(55% 0.224 280);
  --color-primary-foreground: oklch(98% 0.013 285);
  --color-secondary: oklch(96.1% 0.014 280);
  --color-secondary-foreground: oklch(10% 0.002 285);
  --color-muted: oklch(96.1% 0.014 280);
  --color-muted-foreground: oklch(65.4% 0.014 285);
  --color-accent: oklch(96.1% 0.014 264);
  --color-accent-foreground: oklch(10% 0.002 285);
  --color-destructive: oklch(55% 0.206 27);
  --color-destructive-foreground: oklch(98% 0.013 285);
  --color-border: oklch(94.5% 0.01 285);
  --color-input: oklch(91.4% 0.011 285);
  --color-ring: oklch(71.4% 0.011 285);
  --color-chart-1: oklch(67.5% 0.15 34);
  --color-chart-2: oklch(55.7% 0.097 194);
  --color-chart-3: oklch(36.2% 0.033 258);
  --color-chart-4: oklch(76.6% 0.122 91);
  --color-chart-5: oklch(73.9% 0.155 53);

  /** Animation */
  --animate-fade-in: 0.2s ease fade-in;
  --animate-fade-out: 0.2s ease fade-out;
  --animate-scale-in: 0.2s ease scale-in;
  --animate-scale-out: 0.2s ease scale-out;
  --animate-slide-up: 0.5s ease slide-up;
  --animate-fade-scale-in: var(--animate-fade-in), var(--animate-scale-in);
  --animate-fade-scale-out: var(--animate-fade-out), var(--animate-scale-out);
  --animate-fade-slide-up: var(--animate-fade-in), var(--animate-slide-up);

  /** keyframes */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes scale-out {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.95);
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-forwards {
    animation-fill-mode: forwards;
  }
}

body {
  @apply bg-background text-foreground font-sans;
}
